/* 전체 배경 */
body {
  margin: 0;
  height: 100vh;

  background:
    linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.2)),
    url("https://buly.kr/FWV0AUT");

  background-size: cover;
  background-position: center;

  color: #c9a3a3;
  font-family: 'Cinzel', serif;
}

/* 어둡게 덮는 레이어 */
.overlay {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: rgba(0, 0, 0, 0.6);
  text-align: center;
}

/* 제목 */
h1 {
  font-size: 60px;
  margin: 0;
  color: #8b0000; /* 버건디 */
  text-shadow: 0 0 15px rgba(139, 0, 0, 0.8);
}

/* 설명 */
p {
  font-size: 18px;
  margin: 20px 0;
  opacity: 0.9;
}

/* 버튼 */
button {
  padding: 12px 25px;
  font-size: 16px;

  background: transparent;
  color: #8b0000;
  border: 1px solid #8b0000;

  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #8b0000;
  color: white;
  box-shadow: 0 0 15px #8b0000;
}

/* 카드 정렬 */
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  width: 80%;
  margin-top: 30px;
}

/* 카드 */
.post {
  padding: 20px;
  border-radius: 15px;
  background: rgba(0,0,0,0.5);
  border: 1px solid #8b0000;
  box-shadow: 0 0 10px rgba(139,0,0,0.4);
  transition: 0.3s;
}

/* 카드 hover */
.post:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(139,0,0,0.7);
}
